.flexconteiner{
    max-height: 1366px;
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 127px;
    display: flex;
    border-bottom: 5px solid red;
    justify-content: space-between;
    padding-left: 139px;
    padding-right: 502px;
    align-items: center;

}
.logo{
    width: 103px;
    height: 25px;
}
ul{
    display: flex;
    gap: 68px;
}
section{
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;

}
